ul {
	list-style: none;
	min-width: 696px;
	padding: 20px;
}

li {
	display: inline;
	margin: 20px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
}

li:hover {
	color: red;
}

/*.cat-img {
	max-width: 100%;
	height: auto;
}
*/
#admin-button {
	margin-top: 10px;
}

.input-group {
	padding-bottom: 5px;
}

label {
	padding-bottom: 5px;
}